@font-face {
    font-family: 'Rubik Mono One';
    src: url('fonts/RubikMonoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-stretch: 75% 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f8ff;
}

header {
    background: white;
    color: #ff9c00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 0.5s ease;
}

    header img {
        width: 150px;
        margin: 15px 0 10px 60px;
    }

.main-nav {
    display: flex;
    gap: 30px;
    padding-right: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

    .main-nav a {
        color: #ff9c00;
        text-decoration: none;
    }

        .main-nav a:hover {
            color: #e05500;
        }

#second {
    padding: 20px 50px;
    font-family: 'Open Sans', sans-serif;
}

    #second h2 {
        font-family: 'Rubik Mono One', sans-serif;
        text-align: center;
        font-size: 30px;
    }

.second-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 25px;
}

    .second-content img {
        width: 400px;
        flex-shrink: 0;
        border-radius: 30px;
    }

    .second-content ul {
        list-style-type: none;
    }

#third {
    font-family: 'Open Sans';
    background-color: #ff9c00;
    padding: 20px;
    color: white;
}
    #third img {
        width: 400px;
        border-radius: 40px;
    }

    #third p {
        font-size: 20px;
    }
    #third h2 {
        font-family: 'Rubik Mono One', sans-serif;
        font-size: 30px;
    }

.third-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 25px;
}

ul {
    list-style-type: none;
    padding: 0;
}

    ul li::before {
        content: "✔ ";
        color: #e05500;
    }

.cta {
    text-align: center;
    margin: 2rem 0;
}

    .cta a {
        background: #ff6600;
        color: white;
        padding: 1rem 2rem;
        text-decoration: none;
        border-radius: 10px;
        font-weight: bold;
    }

        .cta a:hover {
            background: #e05500;
        }

footer {
    background: #0077aa;
    color: white;
    text-align: center;
    padding: 1rem;
}

.reviews blockquote {
    background: #e0f7ff;
    padding: 1rem;
    border-left: 5px solid #00aaff;
    margin: 1rem 0;
}

.app-links a {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background: #0077aa;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Анимация смены фоновых изображений */
@keyframes changeBackground {
    0%, 11.11% {
        background-image: url('img/frames/1.png');
    }

    11.12%, 22.22% {
        background-image: url('img/frames/2.png');
    }

    22.23%, 33.33% {
        background-image: url('img/frames/3.png');
    }

    33.34%, 44.44% {
        background-image: url('img/frames/4.png');
    }

    44.45%, 55.55% {
        background-image: url('img/frames/5.png');
    }

    55.56%, 66.66% {
        background-image: url('img/frames/6.png');
    }

    66.67%, 77.77% {
        background-image: url('img/frames/7.png');
    }

    77.78%, 88.88% {
        background-image: url('img/frames/8.png');
    }

    88.89%, 100% {
        background-image: url('img/frames/9.png');
    }
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #00aaff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    border-radius: 40px;
    background-size: cover;
    background-position: center;
    animation: changeBackground 3s infinite ease-in-out;
}

.header-text {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    max-width: 40%;
}

    .header-text h1 {
        font-family: 'Rubik Mono One', sans-serif;
        font-size: 60px;
        margin: 0 0 1rem;
        line-height: 1.11em;
    }

    .header-text p {
        font-size: 35px;
        margin: 0;
        line-height: 1em;
    }

.learn_more {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: #ff9c00;
    border-radius: 40px;
    padding: 15px 30px;
    border: none;
    transition: background 0.5s ease;
    cursor: pointer;
    margin-top: 20px;
}

    .learn_more:hover {
        background-color: #e05500;
    }
